
*{
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  width: 700px;
}
span{
  margin-left: 20px;
}
.user_list {

  padding: 10px;
  list-style: none;
}

.user_list tr {
  padding: 10px;
}


.user_list tr:nth-of-type(2n+1) {
  background-color: green;
}
.user_list tr:nth-of-type(2n+2) {
  background-color: #F2A2A2;
}
.user_list .first_tr{
  background: rgba(0, 0, 0, 0.5)!important;
}
.user_list td {
  padding: 10px;
  width: 100px;

}



.editable {
  background-color: white !important;
  border: 1px solid black;
}
label {
  display: block;
  margin-top: 10px;
}
button {
  display: block;
  margin-top: 10px;
}

#addUsr {
  margin-top: 30px;
  background-color: orange;
  color: white;
  border: none;
  padding: 6px 10px;
  font-size: 16px;
}
